<link rel="stylesheet" href="css/iledocs.css" />
<div class="iledocs">

<div class="iledocs-page">
<h2>Linked List</h2>

This is a typical Doubly-Linked List (Two-Way Linked List) Implementation
using dynamic memory allocation. The list is particular suitable for
character values but does also work with any other data (f. e. data
structures).

<br><br>

Values are stored as null-terminated chars.

<br><br>

Operations that index into the list will traverse the list from
the beginning or the end, whichever is closer to the specified index.

<br><br>

<b>Iteration:</b> With the procedure <em>getNext</em> the list is
traversable in the top-bottom direction. Each call to <em>getNext</em>
will return the next entry of the list till the end of the list.
If the walk through the list should be stopped early (before the end
of the list) the method <em>abortIteration</em> should be called.
If the list is structurally modified at any time
after an iteration has begun in any way, the result of the iteration
can not be safely determined. If an iteratioj is not going to continue
the procedure <em>abortIteration</em> should be called. After that
call it is safe to modify the list again.

<br><br>

Throughout this service program a zero-based index is used.

<br><br>

This list implementation is not thread-safe.




<h3>Procedures</h3>
<table class="iledocs-table">

<tr>
<td><a href="#proc_list_abortIteration">list_abortIteration</a></td><td>Abort iteration</td>
</tr>

<tr>
<td><a href="#proc_list_add">list_add</a></td><td>Add list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addAll">list_addAll</a></td><td>Add all elements of a list</td>
</tr>

<tr>
<td><a href="#proc_list_addBoolean">list_addBoolean</a></td><td>Add boolean list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addDate">list_addDate</a></td><td>Add date list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addDecimal">list_addDecimal</a></td><td>Add packed decimal list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addDouble">list_addDouble</a></td><td>Add double list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addFirst">list_addFirst</a></td><td>Add list entry to the top of the list</td>
</tr>

<tr>
<td><a href="#proc_list_addFloat">list_addFloat</a></td><td>Add float list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addInteger">list_addInteger</a></td><td>Add integer list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addLast">list_addLast</a></td><td>Add list entry to the end of the list</td>
</tr>

<tr>
<td><a href="#proc_list_addLong">list_addLong</a></td><td>Add long list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addShort">list_addShort</a></td><td>Add short list entry</td>
</tr>

<tr>
<td><a href="#proc_list_addString">list_addString</a></td><td>Add character list entry</td>
</tr>

<tr>
<td><a href="#proc_list_clear">list_clear</a></td><td>Clear list</td>
</tr>

<tr>
<td><a href="#proc_list_contains">list_contains</a></td><td>Contains entry</td>
</tr>

<tr>
<td><a href="#proc_list_copy">list_copy</a></td><td>Create a copy of a list</td>
</tr>

<tr>
<td><a href="#proc_list_create">list_create</a></td><td>Create list</td>
</tr>

<tr>
<td><a href="#proc_list_dispose">list_dispose</a></td><td>Dispose list</td>
</tr>

<tr>
<td><a href="#proc_list_foreach">list_foreach</a></td><td>Execute procedure for every list item</td>
</tr>

<tr>
<td><a href="#proc_list_frequency">list_frequency</a></td><td>Frequency of a value in the list</td>
</tr>

<tr>
<td><a href="#proc_list_get">list_get</a></td><td>Get entry</td>
</tr>

<tr>
<td><a href="#proc_list_getBoolean">list_getBoolean</a></td><td>Get boolean entry</td>
</tr>

<tr>
<td><a href="#proc_list_getDate">list_getDate</a></td><td>Get date entry</td>
</tr>

<tr>
<td><a href="#proc_list_getDecimal">list_getDecimal</a></td><td>Get packed decimal entry</td>
</tr>

<tr>
<td><a href="#proc_list_getDouble">list_getDouble</a></td><td>Get double entry</td>
</tr>

<tr>
<td><a href="#proc_list_getFirst">list_getFirst</a></td><td>Get first entry</td>
</tr>

<tr>
<td><a href="#proc_list_getFloat">list_getFloat</a></td><td>Get float entry</td>
</tr>

<tr>
<td><a href="#proc_list_getInteger">list_getInteger</a></td><td>Get integer entry</td>
</tr>

<tr>
<td><a href="#proc_list_getLast">list_getLast</a></td><td>Get last entry</td>
</tr>

<tr>
<td><a href="#proc_list_getLong">list_getLong</a></td><td>Get long entry</td>
</tr>

<tr>
<td><a href="#proc_list_getNext">list_getNext</a></td><td>Get next entry</td>
</tr>

<tr>
<td><a href="#proc_list_getPrev">list_getPrev</a></td><td>Get previous entry</td>
</tr>

<tr>
<td><a href="#proc_list_getShort">list_getShort</a></td><td>Get short entry</td>
</tr>

<tr>
<td><a href="#proc_list_getString">list_getString</a></td><td>Get character entry</td>
</tr>

<tr>
<td><a href="#proc_list_indexOf">list_indexOf</a></td><td>Index of entry</td>
</tr>

<tr>
<td><a href="#proc_list_isEmpty">list_isEmpty</a></td><td>Check if list is empty</td>
</tr>

<tr>
<td><a href="#proc_list_iterate">list_iterate</a></td><td>Iterate list</td>
</tr>

<tr>
<td><a href="#proc_list_lastIndexOf">list_lastIndexOf</a></td><td>Last index of entry</td>
</tr>

<tr>
<td><a href="#proc_list_merge">list_merge</a></td><td>Merge lists</td>
</tr>

<tr>
<td><a href="#proc_list_remove">list_remove</a></td><td>Remove list entry</td>
</tr>

<tr>
<td><a href="#proc_list_removeFirst">list_removeFirst</a></td><td>Remove first list entry</td>
</tr>

<tr>
<td><a href="#proc_list_removeLast">list_removeLast</a></td><td>Remove last list entry</td>
</tr>

<tr>
<td><a href="#proc_list_removeRange">list_removeRange</a></td><td>Remove range of elements</td>
</tr>

<tr>
<td><a href="#proc_list_replace">list_replace</a></td><td>Replaces an entry in the list</td>
</tr>

<tr>
<td><a href="#proc_list_resetIteration">list_resetIteration</a></td><td>Reset iteration</td>
</tr>

<tr>
<td><a href="#proc_list_reverse">list_reverse</a></td><td>Reverse list</td>
</tr>

<tr>
<td><a href="#proc_list_rotate">list_rotate</a></td><td>Rotate list by n positions</td>
</tr>

<tr>
<td><a href="#proc_list_size">list_size</a></td><td>Get list size</td>
</tr>

<tr>
<td><a href="#proc_list_sort">list_sort</a></td><td>Sort list</td>
</tr>

<tr>
<td><a href="#proc_list_split">list_split</a></td><td>Split character string</td>
</tr>

<tr>
<td><a href="#proc_list_sublist">list_sublist</a></td><td>Create sublist</td>
</tr>

<tr>
<td><a href="#proc_list_swap">list_swap</a></td><td>Swap list items</td>
</tr>

<tr>
<td><a href="#proc_list_toCharArray">list_toCharArray</a></td><td>To character array</td>
</tr>

<tr>
<td><a href="#proc_list_toString">list_toString</a></td><td>Return character representation of list</td>
</tr>

</table>
<hr/>

<h3 class="iledocs-procedure-header"><a name="proc_list_abortIteration">list_abortIteration</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_abortIteration</span>
(
Pointer list)
</code>
<p>If the iteration through the list should be aborted early this
procedure should be called.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007
<h4 class="iledocs-procedure-subheader">Deprecated</h4>
<div class="iledocs-box iledocs-deprecated">Use <em>list_resetIteration</em> instead.</div>

<h3 class="iledocs-procedure-header"><a name="proc_list_add">list_add</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_add</span>
(
Pointer list, Pointer value, UnsignedInteger length, UnsignedInteger position)
</code>
<p>Adds an entry at an exact position in the list. If the position is
outside the list the procedure returns <em>*off</em>. The current
entry of the list at that position will be pushed one position down
the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to the new value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of the new value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_addAll">list_addAll</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addAll</span>
(
Pointer list, Pointer sourceList)
</code>
<p>Adds all elements of the passed list to the end of this list.
Elements will not be referenced but storage newly allocated.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the destination list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the source list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = all elements added to list <br>
*off = not all or none elements added<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_addBoolean">list_addBoolean</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addBoolean</span>
(
Pointer list, Boolean value, UnsignedInteger index)
</code>
<p>Adds a boolean entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Boolean</span>
 [const, value]</code>
 &mdash; Boolean value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addDate">list_addDate</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addDate</span>
(
Pointer list, Date value, UnsignedInteger index)
</code>
<p>Adds a date entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Date</span>
 [const, value]</code>
 &mdash; Date value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addDecimal">list_addDecimal</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addDecimal</span>
(
Pointer list, PackedDecimal value, UnsignedInteger index)
</code>
<p>Adds a packed decimal entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
PackedDecimal (15)</span>
 [const, value]</code>
 &mdash; Packed decimal value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addDouble">list_addDouble</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addDouble</span>
(
Pointer list, Float value, UnsignedInteger index)
</code>
<p>Adds a double entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Float (8)</span>
 [const, value]</code>
 &mdash; Double value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addFirst">list_addFirst</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addFirst</span>
(
Pointer list, Pointer value, UnsignedInteger length)
</code>
<p></p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to new value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of new value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = successful <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_addFloat">list_addFloat</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addFloat</span>
(
Pointer list, Float value, UnsignedInteger index)
</code>
<p>Adds a float entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Float (4)</span>
 [const, value]</code>
 &mdash; Float value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addInteger">list_addInteger</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addInteger</span>
(
Pointer list, Integer value, UnsignedInteger index)
</code>
<p>Adds an integer entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (10)</span>
 [const, value]</code>
 &mdash; Integer value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addLast">list_addLast</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addLast</span>
(
Pointer list, Pointer value, UnsignedInteger length)
</code>
<p></p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to new value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of new value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = successful <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_addLong">list_addLong</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addLong</span>
(
Pointer list, Integer value, UnsignedInteger index)
</code>
<p>Adds a long entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (20)</span>
 [const, value]</code>
 &mdash; Long value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addShort">list_addShort</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addShort</span>
(
Pointer list, Integer value, UnsignedInteger index)
</code>
<p>Adds a short entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (5)</span>
 [const, value]</code>
 &mdash; Short value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_addString">list_addString</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_addString</span>
(
Pointer list, Char value, UnsignedInteger index)
</code>
<p>Adds a character entry to the list. If the position is outside the list
the procedure returns <em>*off</em>. The current entry of the list at
that position will be pushed one position down the list.

<br><br>

If no position is passed to the procedure then the entry will be
appended to the end of the list (like <em>addLast</em>).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Char (65535)</span>
 [varsize, const, value]</code>
 &mdash; Character value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; List position for the new value (optional)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry added the list <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_clear">list_clear</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_clear</span>
(
Pointer list)
</code>
<p>Deletes all entries in the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = successful <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_contains">list_contains</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_contains</span>
(
Pointer list, Pointer value, UnsignedInteger length)
</code>
<p>Checks if this list contains the passed entry.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = list contains value <br>
*off = list does not contain value<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_copy">list_copy</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_copy</span>
(
Pointer list)
</code>
<p>Creates a list with copies of all elements of the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to te new list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  7.4.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_create">list_create</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_create</span>
(
)
</code>
<p>Creates a list. A header is generated for the list and the pointer to
the list returned.

<br><br>

A list must be disposed via the procedure <em>dispose</em> to free all
allocated memory.</p>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to the list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_dispose">list_dispose</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_dispose</span>
(
Pointer list)
</code>
<p>The memory for whole list are is released
(deallocated). The list pointer is set to *null;

<br><br>

If the passed pointer is already *null the procedure simply returns.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
</code>
 &mdash; Pointer to the list</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_foreach">list_foreach</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_foreach</span>
(
Pointer list, Pointer procecdure, Pointer userData)
</code>
<p>The passed procedure will be executed for every item
in the list.

<br><br>

The user can pass data through a pointer to the procedure.
The pointer will not be touched by this procedure itself, so it
can be *null.

<br><br>

The value of list entry can be changed through the passed procedure
but not the size of the entry/allocated memory.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer (*proc)</span>
 [const]</code>
 &mdash; Procedure pointer</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [nopass, const]</code>
 &mdash; Pointer to user data (optional)</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  23.01.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_frequency">list_frequency</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
UnsignedInteger</span>
<span class="iledocs-code-name">list_frequency</span>
(
Pointer list, Pointer value, UnsignedInteger length)
</code>
<p>Returns the number of times the passed value
can be found in the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to the value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of the value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger

</span>
</code>
 &mdash; number of copies of passed value in the list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  05.04.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_get">list_get</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_get</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to a null terminated string or
*null if an error occured or there is no
entry at that position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_getBoolean">list_getBoolean</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_getBoolean</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a boolean list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; Boolean value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getDate">list_getDate</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Date</span>
<span class="iledocs-code-name">list_getDate</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a date list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Date

</span>
</code>
 &mdash; Date value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getDecimal">list_getDecimal</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
PackedDecimal</span>
<span class="iledocs-code-name">list_getDecimal</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a packed decimal list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
PackedDecimal

</span>
</code>
 &mdash; Packed decimal value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getDouble">list_getDouble</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Float</span>
<span class="iledocs-code-name">list_getDouble</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a double list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Float

</span>
</code>
 &mdash; Double value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getFirst">list_getFirst</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_getFirst</span>
(
Pointer list)
</code>
<p>Returns the first entry of the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to a null terminated string or
*null if the list is empty or an error occured<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_getFloat">list_getFloat</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Float</span>
<span class="iledocs-code-name">list_getFloat</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a float list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Float

</span>
</code>
 &mdash; Float value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getInteger">list_getInteger</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Integer</span>
<span class="iledocs-code-name">list_getInteger</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns an integer list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Integer

</span>
</code>
 &mdash; Integer value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getLast">list_getLast</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_getLast</span>
(
Pointer list)
</code>
<p>Returns the last entry of the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to a null terminated string or
*null if the list is empty or an error occured<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_getLong">list_getLong</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Integer</span>
<span class="iledocs-code-name">list_getLong</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a long list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Integer

</span>
</code>
 &mdash; Long value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getNext">list_getNext</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_getNext</span>
(
Pointer list)
</code>
<p>Iterates through the list and gets the next entry. If the iterator is
at the end of the list this method will return <em>null</em>. The
iteration can be aborted early with the procedure <em>
list_resetIteration</em>.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to entry or *null if no more entries in list
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007
<h4 class="iledocs-procedure-subheader">Deprecated</h4>
<div class="iledocs-box iledocs-deprecated">Use <em>list_iterate</em> instead.</div>

<h3 class="iledocs-procedure-header"><a name="proc_list_getPrev">list_getPrev</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_getPrev</span>
(
Pointer list)
</code>
<p>Iterates through the list and gets the previous entry. If the iterator is
before the start of the list this method will return <em>null</em>. The
iteration can be aborted early with the procedure <em>list_resetIteration</em>.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to entry or <code>*null</code> if no more entries in list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_getShort">list_getShort</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Integer</span>
<span class="iledocs-code-name">list_getShort</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a short list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Integer

</span>
</code>
 &mdash; Short value of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_getString">list_getString</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Char</span>
<span class="iledocs-code-name">list_getString</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Returns a character list entry specified by the passed index.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List position
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Char

</span>
</code>
 &mdash; Character string of the specified position<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  21.09.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_indexOf">list_indexOf</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Integer</span>
<span class="iledocs-code-name">list_indexOf</span>
(
Pointer list, Pointer value, UnsignedInteger length)
</code>
<p>Returns the index of the passed entry or -1 if the entry could not
be found in the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to the value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of the value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Integer

</span>
</code>
 &mdash; index of the entry or -1 if entry not in list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_isEmpty">list_isEmpty</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_isEmpty</span>
(
Pointer list)
</code>
<p>Checks if the list is empty.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = list is empty <br>
*off = list is not empty<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_iterate">list_iterate</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_iterate</span>
(
Pointer list, UnsignedInteger offset)
</code>
<p>Iterates through the list and returns the next entry. If the iterator is
at the end of the list this method will return <code>*null</code>. The
iteration can be aborted early with the procedure <em>list_resetIteration</em>.

<br/><br/>

When an offset is passed the element at the offset will be returned next.
If the offset is out of bounds <code>*null</code> will be returned.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; Offset (0-based)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to entry or <code>*null</code> if no more entries in list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.2.2011

<h3 class="iledocs-procedure-header"><a name="proc_list_lastIndexOf">list_lastIndexOf</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Integer</span>
<span class="iledocs-code-name">list_lastIndexOf</span>
(
Pointer list, Pointer value, UnsignedInteger length)
</code>
<p>Returns the last indes of the passed entry or -1 if the entry
could not be found in the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to the value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of the value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Integer

</span>
</code>
 &mdash; index of the entry or -1 if entry not in list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_merge">list_merge</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_merge</span>
(
Pointer destList, Pointer sourceList, Boolean skipDuplicates)
</code>
<p>Merges the elements of second list with the first list. Elements which
are already in the first list are not added by default (see third parameter).</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Destination list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Source list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Boolean</span>
 [nopass, const]</code>
 &mdash; Skip duplicates (default: *off)</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  15.12.2009

<h3 class="iledocs-procedure-header"><a name="proc_list_remove">list_remove</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_remove</span>
(
Pointer list, UnsignedInteger index)
</code>
<p>Removes an entry from the list at the given position. If the
position is outside of the list the return value will be <em>*off</em>.

<br><br>

The index is 0 (zero) based.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; index of the entry in the list (zero-based)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry removed
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_removeFirst">list_removeFirst</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_removeFirst</span>
(
Pointer list)
</code>
<p>Removes the first entry from the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry removed <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_removeLast">list_removeLast</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_removeLast</span>
(
Pointer list)
</code>
<p>Removes the last entry from the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry removed <br>
*off = error (escape message)<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  18.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_removeRange">list_removeRange</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_removeRange</span>
(
Pointer list, UnsignedInteger index, UnsignedInteger numberElements)
</code>
<p>Removes a number of elements from the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Starting index</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Number of elements to remove
</li>
</ol>

<h3 class="iledocs-procedure-header"><a name="proc_list_replace">list_replace</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_replace</span>
(
Pointer list, Pointer value, UnsignedInteger length, UnsignedInteger index)
</code>
<p>An element in the list will be replaced. If there is no element
at that position the return value will be <em>*off</em>.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const, value]</code>
 &mdash; Pointer to new value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Length of new value</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; index of new value
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = entry successfully replaced <br>
*off = error<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_resetIteration">list_resetIteration</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_resetIteration</span>
(
Pointer list)
</code>
<p>Resets the internal iteration state of the list so that the next
call to <em>list_iterate</em> will return the first element.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.2.2011

<h3 class="iledocs-procedure-header"><a name="proc_list_reverse">list_reverse</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_reverse</span>
(
Pointer list)
</code>
<p>Reverse the order of the list by simply switching the previous and
next pointers of each element.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
</ol>

<h3 class="iledocs-procedure-header"><a name="proc_list_rotate">list_rotate</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_rotate</span>
(
Pointer list, Integer numberRotations)
</code>
<p>Rotatas items in the list by the given number.

<br><br>

The elements from the end will be pushed to the front.
A rotation of one will bring the last element to the first
position and the first element will become the second element
(pushed one position down the list).

<br><br>

Only a forward rotation is possible. No negative number of
rotations are valid.

<br><br>

The number of rotations may even be greater than the size of
the list. Example: List size 4, rotation number 5 = rotation
number 1.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (10)</span>
 [const]</code>
 &mdash; Number positions to rotate list</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  23.01.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_size">list_size</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
UnsignedInteger</span>
<span class="iledocs-code-name">list_size</span>
(
Pointer list)
</code>
<p>Returns the number elements in the list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger

</span>
</code>
 &mdash; number of elements in the list or -1 if an error occurs<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  16.01.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_sort">list_sort</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_sort</span>
(
Pointer list, Pointer compareProcedure)
</code>
<p>Sorts the list with the passed procedure.

<br>

The compare procedure compares two values of the list and returns
<ul>
  <li>0 if the entries are equal</li>
  <li>&lt; 0 if the first entry should be placed above the second entry</li>
  <li>&gt; 0 if the second entry should be placed above the first entry</li>
</ul>

<div>
dcl-pr compare int(10); <br>
&nbsp;&nbsp;  value1 pointer const; <br>
&nbsp;&nbsp;  length1 int(10) const; <br>
&nbsp;&nbsp;  value2 pointer const; <br>
&nbsp;&nbsp;  length2 int(10) const; <br>
end-pr;
</div>

A value passed to the compare function can also be <code>*null</code>.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer (*proc)</span>
 [nopass, const]</code>
 &mdash; Procedure pointer for comparing values to the sort the list</li>
</ol>

<h3 class="iledocs-procedure-header"><a name="proc_list_split">list_split</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_split</span>
(
Char string, Char separator)
</code>
<p>The passed character string will be split into tokens by either
a passed or the default separator. All tokens will be added to
a new list which will be returned.

<br><br>

Empty (but not blank) values will be dropped silently.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Char (65535)</span>
 [varsize, const]</code>
 &mdash; Character string (null-terminated)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Char (1)</span>
 [nopass, const]</code>
 &mdash; Separator (default: ;)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; Pointer to the filled list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  08.02.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_sublist">list_sublist</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Pointer</span>
<span class="iledocs-code-name">list_sublist</span>
(
Pointer list, UnsignedInteger startIndex, UnsignedInteger length)
</code>
<p>Creates a list with copies of a part of the passed list.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; start of the index to copy</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [nopass, const]</code>
 &mdash; number of elements to copy
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Pointer

</span>
</code>
 &mdash; new list<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  16.1.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_swap">list_swap</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Boolean</span>
<span class="iledocs-code-name">list_swap</span>
(
Pointer list, UnsignedInteger itemPosition1, UnsignedInteger itemPosition2)
</code>
<p>Swaps the position of the passed list items.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List item to swap</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; List item to swap</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Boolean

</span>
</code>
 &mdash; *on = successful else failed<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  23.01.2008

<h3 class="iledocs-procedure-header"><a name="proc_list_toCharArray">list_toCharArray</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">list_toCharArray</span>
(
Pointer list, Pointer array, UnsignedInteger count, UnsignedInteger length)
</code>
<p>Copies all entries of this list to the passed array. Entries will be
truncated if they are too big for the array. If the array is not big
enough, the last entries will be silently dropped.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the array</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Element count</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [const]</code>
 &mdash; Element length
</li>
</ol>
<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  19.12.2007

<h3 class="iledocs-procedure-header"><a name="proc_list_toString">list_toString</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Varchar</span>
<span class="iledocs-code-name">list_toString</span>
(
Pointer list, Varchar separator, Varchar enclosing, Varchar enclosingEnd)
</code>
<p>Returns a string with the list items separated either by
the passed or default separator. The items can be
enclosed by a passed character. The maximum character length
returned is 65535. Every character/item after that will be
dropped silently. Items will not be trimmed for this operation.

<br><br>

If the third parameter is passed, the third parameter will be
pre- and appended to the item. If the fourth parameter is also
passed the third parameter will be prepended to the item and the
fourth parameter will be appended to the item.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [const]</code>
 &mdash; Pointer to the list</li>
<li>
<code>
<span class="iledocs-code-returnType">
Varchar (1)</span>
 [omit, nopass, const]</code>
 &mdash; separator (default: ,)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Varchar (100)</span>
 [nopass, const]</code>
 &mdash; enclosing character (default: nothing)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Varchar (100)</span>
 [nopass, const]</code>
 &mdash; enclosing character at the end of item (default: nothing)
</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Varchar

</span>
</code>
 &mdash; character representation of all list items<h4 class="iledocs-procedure-subheader">Author</h4>
Mihael Schmidt
<h4 class="iledocs-procedure-subheader">Date</h4>
  08.02.2008


</div>
</div>